.searched-location {
    padding: 35px 15px 15px 15px;
}

.location-search {
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.4);
    width: 500px;
    margin-right: 15px;
    border-radius: 10px;
    padding: 15px;
    font-size: 1.15em;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: .25s;
}

.location-search:focus {
    outline:none;
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.7);
}

.btn-primary {
    color: #fff;
    background-color: #0071bc;
    border-color: #0071bc;
    border-radius: 10px;
    padding: 15px;
    font-size: 1.15em;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-primary:hover {
    background-color: #0071bc;
    border-color: #0071bc;
}